<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label class="label">Username</label>
    <input formControlName="username">
    {{authForm.controls.username.errors | json}}
  </div>
  <div class="field">
    <label class="label">Username</label>
    <input formControlName="password">
  </div>
   <div class="field">
    <label class="label">Username</label>
    <input formControlName="passwordConfirmation">
  </div>
  <button class="ui submit button primary" type="">Submit</button>

  {{authForm.errors | json}}
</form>
